<!doctype html>
<html>
  <head>
    <title>Forager's Assistant</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script defer src="{{ url_for('static', filename='frontend.js') }}"></script>
  </head>

  <body>
    <h1>Forager's Assistant</h1>
    <nav>
      <a href="{{ url_for('start_index') }}">Home</a>
      <a href="{{ url_for('get_gallery') }}">Review Forigables</a>
    </nav>

    <h2>Gallery</h2>

    <form id="searchForm">
      <p>
        <label>Tag:</label>
        <input id="tag_input" type="text" required>
      </p>
      <button type="submit" id="tag_search">Search</button>
    </form>

    <div id="searchStatus"></div>
    <div id="resultsGrid" class="grid"></div>
  </body>
</html>