<!Doctype HTML>
<html>
	<head>
		<title>Forager's Assistant</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	</head>
	<body>
		<h1>Forager's Assistant</h1>
		<nav>
      		<a href="{{ url_for('start_index') }}">Home</a>
      		<a href="{{ url_for('get_gallery') }}">Review Forigables</a>
		</nav>
		<form action="/upload" method="POST" enctype="multipart/form-data">
    		<p>
				<label>Submission:</label>
				<input type="file" name="image" accept="image/*" required>
			</p>
			<p>
				<label>Species Tag:</label>
				<input type="text" name="tag" value="{{ previous_tag or '' }}" required>
			</p>
			<p>
				{% if error %}
  					<div class="error-message">
    					{{ error }}
  					</div>
				{% endif %}
			</p>
    		<button type="submit">Upload</button>
		</form>
	</body>
 </html>